{% extends 'base.twig' %}
{% block css %}
<link rel="stylesheet" href="./css/accueil.css">
{% endblock css %}

{% block main %}



<main>
    <section>
        <h2>-&nbsp;{{ac.actu}}&nbsp;-</h2>
        <article>
            <div class="style">
                <img src="image/ct.jpg" alt="counter">
                <div class="actu_place">

                    <p>
                        {{ac.texte_1}}</p>


                    <p> {{ac.texte_2}}</p>

                    <p>{{ac.texte_3}}</p>

                    <p>{{ac.texte_4}}
                    </p>

                    <p>{{ac.texte_5}}</p>
                </div>
            </div>
            <h2>-{{ac.prez}}-</h2>
            <p>{{ac.prez_texte1}}</p>

            <p>{{ac.prez_texte2}}</p>

            <p>{{ac.prez_texte3}}</p>
        </article>
    </section>
</main>
{% endblock main %}