<!DOCTYPE html>
<html lang="{{tab.langue}}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ titre }}</title>
	<link rel="stylesheet" href="./css/base.css">
	{% block css %}
	{% endblock css %}
</head>

<body>
	<div class="wrap" role="forme">
		<header role="banner">
			<p class="titre">Counter Strike : Global Offensive</p>
			<nav class="nav_principal" role="naviguation" aria-label="menu_deroulant">
				<ul>
					<li>
						<a href={{url_1}}>{{acceuil}}</a>
					</li>
					{% for groupe in tableau %}
					<li>
						<!-- Menu principal -->
						<a href="#">{{groupe.categorie}}<span class="fleche">﹀</span></a>
						<ul class="deroulant">
							{% for element in groupe.contenu %}
							<!-- Déroulant -->
							<li><a href="{{element.url}}">{{element.name}}</a></li>
							{% endfor %}
						</ul>
					</li>
					{% endfor %}
					<li>
						<a href={{url_2}}>{{contact}}</a>
					</li>
				</ul>
			</nav>
		</header>
		{% block main %}

		<ul class="plan">

			{% endblock main %}
			<aside class="fond" role="changer de langue">
				<div class="aside">
					<figure>
						<a href="accueil_ru.php" aria-label="Retour à l'accueil" lang="ru">
							<img src="image/drapeau_russe.png" alt="cyka" aria-label=alt="Changer la langue"
								title="Переход на русский язык">
							<figcaption>Изменить язык</figcaption>
						</a>
					</figure>
					<figure>
						<a href="accueil.php" aria-label="Retour à l'accueil" lang="fr">
							<img src="image/drapeau_français.jpg" alt="fr" aria-label=alt="Changer la langue"
								title="Passer en Français">
							<figcaption>Changer la langue</figcaption>
						</a>
					</figure>
				</div>
			</aside>




			<footer role="contentinfo">
				<div class="footer">
					<ul class="foot_a">
						<li>
							<a href={{url_1}}>
								<img class="logo" src="image/logo_transparent2.png" alt="logo"
									aria-label="retour_accueil" title="Accueil">
							</a>
						</li>
					</ul>

					{% for groupe in tableau %}
					<ul class="plan">
						<li><a>{{groupe.categorie}}</a></li>
						{% for element in groupe.contenu %}
						<li><a href="{{element.url}}"
								aria-label="Aller à l'article : {{element.name}}">{{element.name}}</a></li>
						{% endfor %}
					</ul>
					{% endfor %}
					<ul class="plan">
						<li>
							<a href={{url_2}}>{{contact}}</a>
						</li>
					</ul>
					<p>Made by an OK-TIER guy</p>
				</div>
			</footer>
	</div>
</body>