{% extends 'base.twig' %}
{% block css %}
<link rel="stylesheet" href="css/categorie1.css">
{% endblock css %}



{% block main %}
<main role="main">
    <section>
        <h2>{{cs.Nom_jeux}}</h2>
        <article>

            <div class="style">
                <img src="{{cs.image_jeux}}" alt="counter">
            </div>
            <h2>-{{cs.titre_prez}}? &nbsp;-</h2>
            <p>{{cs.texte1}}</p>

            <p>{{cs.texte2}}</p>

            <p>{{cs.texte3}}</p>
        </article>
        <article>
            <h2>-&nbsp; E-sport &nbsp;-</h2>
            <p>{{cs.e_text}}</p>

            <p>{{cs.e_text2}}</p>
            <figure class="lan" aria-label="lan_old">
                <img src="{{cs.image_lan}}" alt="lan_old">
                <figcaption><i>{{cs.desc_img}}</i></figcaption>
            </figure>

            <p>{{cs.e_text3}}</p>

            <figure class="videolan" aria-label="{{cs.desc_ytb}}">
                <iframe width="620" height="450" src="{{cs.lien_youtube}}" title="Vidéo youtube"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <figcaption><i>{{cs.desc_ytb}}</i></figcaption>
            </figure>

            <p>{{cs.e_text4}}</p>
        </article>
    </section>
</main>
{% endblock main %}