{% extends 'base.twig' %}
{% block css %}
<link rel="stylesheet" href="css/categorie3.css">
{% endblock css %}

{% block main %}
<main>
    <section>
        <h2>{{equipe.nom}}</h2>
        <article>
            <h2>-&nbsp;{{membre }}&nbsp;-</h2>
            <div class="style">
                <figure>
                    <img src="{{equipe.img_1}}" alt="{{equipe.alt_1}}">
                    <figcaption>{{equipe.joueur1}}</figcaption>
                </figure>
                <figure>
                    <img src="{{equipe.img_2}}" alt="{{equipe.alt_2}}">
                    <figcaption>{{equipe.joueur2}}</figcaption>
                </figure>
                <figure>
                    <img src="{{equipe.img_3}}" alt="{{equipe.alt_3}}">
                    <figcaption>{{equipe.joueur3}}</figcaption>
                </figure>
                <figure>
                    <img src="{{equipe.img_4}}" alt="{{equipe.alt_4}}">
                    <figcaption>{{equipe.joueur4}}</figcaption>
                </figure>
                <figure>
                    <img src="{{equipe.img_5}}" alt="{{equipe.alt_5}}">
                    <figcaption>{{equipe.joueur5}}</figcaption>
                </figure>
            </div>
        </article>

        <article>
            <h2>-&nbsp;{{Historique}} &nbsp;-</h2>
            {% for groupe in tableau_li %}
            <ul>
                {% if (groupe.special) == True %}
                <li>☆{{groupe.date}}</li>
                {% else %}
                <li>{{groupe.date}}</li>
                {% endif %}
                {% for element in groupe.infos %}
                <li>{{element}}</li>
                {% endfor %}
            </ul>
            {% endfor %}
            <h2>-&nbsp; Best of &nbsp; -</h2>
            <figure class="videolan" role="vidéo" aria-label="vidéo youtube">
                <iframe width="720" height="440" src="{{youtube}}" title="Vidéo youtube"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </figure>

            <p>{{equipe.text}}</p>
            <p>{{equipe.text2}}</p>
        </article>
    </section>
</main>
{% endblock %}