{% extends 'base.twig' %}
{% block css %}
<link rel="stylesheet" href="css/contact.css">
{% endblock css %}

{% block main %}
<main>
    <section>
        <h2>{{form.gros_text1}}</h2>
        <article>
            <div class="form">
                <form method="post" action="./reception.php" role="formulaire">
                    <filedset>
                        <p>
                            <label for="pseudo">{{form.pseudo}}</label>
                            <input type="text" name="pseudo" id="pseudo" autocomplete="given-name"
                                placeholder="username">
                        </p>
                    </filedset>
                    <fieldset>
                        <p>
                            <label for="mail">{{form.mail}}</label>
                            <input type="text" name="mail" id="mail" autocomplete="email" placeholder="email@email.com"
                                required>
                        </p>
                        </filedset>
                        <fieldset>
                            <p>
                                <label for="question">{{form.question}}</label>
                                <textarea name="question" id="question" placeholder="Question ? / вопрос ?"></textarea>
                            </p>
                        </fieldset>
                        <fieldset>
                            <input type="submit" value="Envoyer">
                        </fieldset>
                </form>
            </div>
            <h2>{{form.gros_text2}}</h2>
            <p>{{form.text_form1}}
            </p>
            <p>{{form.text_form2}}</p>
        </article>
    </section>
</main>
{% endblock main %}